* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	list-style-type: none;
	outline: none;
	text-decoration: none;
}

$color-primary: #714740;
$color-secondary: #e8d9d3;
$color-tertiary: #3e2923;
$color-medium: #bf8483;

//if needed
// $color-x :#84645c;
// $color-y :#8b6f6d;
// $color-z :#545454;

.error {
	color: red;
	font-weight: bold;
}
.success {
	color: green;
	font-weight: bold;
}
img {
	width: 80px;
	object-fit: cover;
	cursor: pointer;
}
.bio-update {
	p {
		border: solid 1px $color-tertiary;
		height: 2em;
	}
}
.post-container {
	border: solid 1px $color-tertiary;
}
.spinner {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.card-container {
	border: solid 1px $color-tertiary;
	margin: 2em;
}
